.login-box{
    width: 20rem;
    height: 25rem;
    background-color: #D4ECD9;
    border-radius: 0.5rem;
    margin: auto;
    margin-top:2rem ;
}
.logo-box{
    padding: 1rem 0rem 0rem 6rem;
}
.logo-login{
    width: 4rem;
    height: 4rem;
}
.input-login {
    width: 15rem;
    border-radius: 0.5rem;
    margin: auto;
    padding: 0rem 0rem 0rem 1rem;
}
.btn-sesion button{
    color:#ffff;
    background-color: #5D8755;
    border-radius: 0.3rem;
    margin: 1rem 0rem 0rem 2rem;
    
}