.order-form{
    margin-bottom: 2rem;
    background-color: #f9f9fb;
    
    margin-top: 2rem;
}
.header-order-form{
    display: block;
    margin: auto;;
}
.order-input{
    width: 20rem;
    font-size: 3rem;
    border-radius: 1rem;
    text-align: center;
    text-transform: uppercase;
}
.order-minutes {
    width: 8rem;
    background-color: white;
    border: 1px solid black;
    align-items: center;
     border-radius: 1rem;
    font-size: 2rem;
}
.orders-btn { 
    color:white;
    height: 5rem;
    box-shadow: inset  -10px -16px 13px -10px rgba(0,0,0,0.75); 
    font-size: 2rem;
}
