.order-box{
    width: 8rem;
    height: 10rem;
    background-color: #7CC68D;
    border-radius: 0.7rem;
    text-align: center;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0.2rem;
    -webkit-box-shadow: 5px 16px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 16px 13px -8px rgba(0,0,0,0.75);
    box-shadow: 5px 16px 13px -8px rgba(0,0,0,0.75);    
}
.icono-logo{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
    
}