
.order-box{
    width: 15rem;
    border-radius: 0.8rem;
    text-align: center;
    margin: 0.2rem;
    padding: 0;
    background-color: white   
}
.btn-Modify-order{
    display: block;
    font-size: 3rem;
}
.order-brand{
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
}
 
.order-status{
    font-size: 1.4rem;
    font-weight: bolder;
}

