.submit {
    background-color: #52ce6e;
    color: white;
    width: 30rem;
    height: 5rem;
    border: none;
    font-size: 2rem;

}

.submit:focus {
    outline: none;
}

.submit:active {
  background-color:  #249e40;
  color: white;
}