.icono-logo{
    width: 2rem;
    height: 2rem;
}
.head{
    background-color: #7CC68D; 
    color: white;  
    margin: 0;
    padding:0;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #E5E5E5;
  color: black;
}
.borde{
    border-right: black solid 2px;
}
