.navbar{
    width: 100%;
    border-bottom:#7CC68D solid 5px;
    background-color: #f9f9fb;
    position: fixed;
    z-index: 100;
}
.footer-kitchen{
    border-top:#7CC68D solid 5px;
    background: #070707;
}
.box-orders{
    width: 55rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 5rem 0rem 0rem 3rem;
    border-right: #7CC68D 1px solid;
    border-left: #7CC68D 1px solid;
    -webkit-box-shadow: -2px 6px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 6px 30px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 6px 30px -1px rgba(0,0,0,0.75);
}
.box-btn-kitchen{
    margin-right: 3rem;
}
.btn-kitchen{    
    margin: 0.2rem;
    background-color: #5D8755;
    border-radius: 0.3rem;
    color: #FFFFFF;
    padding: 0.5rem;
    box-shadow: inset -5px -10px 13px -8px rgba(0,0,0,0.75); 
}
.icono-logo{
    width: 6rem;
    height:6rem;
    padding: 1rem;
}