
.box-orders{
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem;
    justify-content: center; 
}

.btn-kitchen-command{
    border-radius: 0.3rem;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0.5rem;
    
}
.head-kitchen{
    border-bottom: black solid 1px;
    margin-bottom: 2rem;
}